.mainContainer {
    padding: 2rem 1rem;
    text-align: center;
}

.mainContainer h2 {
    color: var(--primary);
    margin-bottom: 0.5rem;
}

.mainContainer p {
    color: var(--text-color);
    opacity: 0.8;
    margin-bottom: 1.5rem;
    color: inherit;
}

/* --- The List --- */
.nicknameList {
    list-style: none;
    padding: 0;
    margin: 1.5rem 0;
}

.nicknameItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 0.8rem 1rem;
    margin-bottom: 0.5rem;
    background-color: var(--bg-color); 
    border-radius: 8px;
    font-weight: 500;
    transition: transform 0.3s;
}

.nicknameItem:hover {
    transform: translateX(5px); 
    border-left: 4px solid var(--primary); 
}

/* --- The Delete Button --- */
.deleteBtn {
    color: var(--delete);
    font-size: 1.5rem;
    padding: 0 0.5rem;
    background: transparent;
    opacity: 0.6;
}

.deleteBtn:hover {
    color: var(--delete-hover);
    opacity: 1;
    transform: scale(1.1);
}

/* --- The Toggle Button --- */
.toggleBtn {
    background: var(--header-bg);
    opacity: .9;
    color: var(--text-color);
    border: 1px solid var(--border-color);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 650;
    border-radius: 20px;
    margin-bottom: 1rem;
    transition: ease .25s;
}

.toggleBtn:hover {
    border-color: var(--primary);
    color: var(--primary);
}

/* --- The Form --- */
.form {
    display: flex;
    gap: 10px;
    margin-top: 1.5rem;
    border-top: 1px solid var(--border-color);
    padding-top: 1.5rem;
}

.inputField {
    flex-grow: 1;
    padding: 0.8rem 1rem;
    border: 2px solid var(--border-color);
    border-radius: 50px;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-size: 1rem;
    outline: none;
    transition: border-color 0.2s;
}

.inputField:focus {
    border-color: var(--primary);
}

.addBtn {
    background-color: var(--primary);
    color: white;
    padding: 0 1.5rem;
    border-radius: 50px;
    font-weight: 600;
    font-size: 1rem;
}

.addBtn:hover {
    background-color: var(--primary-hover);
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(230, 126, 34, 0.3); /* Orange glow */
}